<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

  {% javascript_asset_tag global %}
    - /_javascripts/modernizr-2.0.js
    - /_javascripts/jquery.js
    - /_javascripts/octopress.js
    - /_javascripts/jquery.slides.js
  {% endjavascript_asset_tag %}
<script type="text/javascript">
	$(function(){
	  $(".flexslider").slidesjs({
	    width: 320,
	    height: 240,
	    play: {
	        auto: true,
	    },
	    effect: {
			fade: {speed: 300, crossfade: true}
		}
	    
	  });
	});
</script>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '51b56959108d7b44f1000035');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
