body > header {
 
  padding-left:0px;
  margin-top:50px;
  hgroup{
    margin-bottom:50px;
  }

  h1 {
      float:left;
      a, a:visited {
        color: #6b6b6b;
        text-decoration: none;
         &:hover { 
            color: #006666;
          }
      }

    }

  .header-container {
    margin-left:-35px;
    margin-right:-70px;
    background: $header-bg;
    background-image: image-url('navstroke.jpg');
    background-size:950px 75px;
    background-repeat:no-repeat;
    height:75px;
    width:950px;
  }
}
