body > header {

  hgroup{
    margin-top:10px;
    h1 {
        float:left;
        margin-top: 10px;
        a, a:visited {
          color: #ffffff;
          text-decoration: none;
           &:hover { 
              color: #006666;
            }
        }

      }
  }
  .header-container {
    background: $header-bg;
    background-image: image-url('navstroke.jpg');
    background-size:950px 75px;
    background-repeat:no-repeat;
    height:75px;
    width:950px;
    margin-left:-35px;
    margin-right:-70px;
    margin-bottom:10px;
    padding-left:0px;
  }

  .header-image{
    float:right;
    margin-top:-15px;
  }
}
